body{
    direction: rtl;
}
#img1{
    float: left;
    width: 30vw;
}
span{
    font-size: 3vw;
}
p{
    font-size: 3vw;
}
#button1{
    width: 5vw;
    margin: 1vw;
}
#button1:hover {
    background-color: green;
}
#button2{
    
    width: 5vw;
    margin: 1vw;
}
#button2:hover {
    background-color: red;
}
#button3{
    width: 5vw;
    margin: 1vw;
}
#button3:hover {
    background-color: green;
}
#divl{
    display: grid;
    grid-template-columns: 5vw 5vw 5vw;
    direction: ltr;
    row-gap: 5vw;
    padding:5vw;
    column-gap: 5vw;
    color: white;
}
#noam{
    grid-column: span 2;
}
#mailbutton{
    background-color:black;
    color:white;
    font-weight: bolder;
    font-size: 2vw;
    height: 40px;
    text-align: center;
}
#img2{
    display: none;
}
#button1:hover ~ #img2{
    display: block;
    width: 15vw;
}
#button2:hover ~ #img2{
    display: block;
    width: 25vw;
}
#button3:hover ~ #img2{
    display: block;
    width: 40vw;
}
@media screen and (max-width: 768px){
    #divl{
        grid-template-columns: 10vw 10vw 10vw;
        column-gap: 15vw;
}
}
